<p>
<% @women.each do |women|%>
		<h1 class="well well-sm"><%= women.title%></h1>
		<p class="well well-sm"><%= women.category%></p>
		<p class="well well-sm"><%= women.description%></p>
	<%end%>
</p>