<p>
	<% @youth.each do |youth|%>
		<h1 class="well well-sm"><%= youth.title%></h1>
		<p class="well well-sm"><%= youth.category%></p>
		<p class="well well-sm"><%= youth.description%></p>
	<%end%>
</p>